absl-py
astor
backports.weakref==1.0rc1
bleach
certifi==2021.5.30
click
coverage
cycler
Cython
dataclasses
future-fstrings
gast
grpcio
html5lib==0.9999999
importlib-metadata
joblib
kiwisolver
Markdown
matplotlib
nltk
numpy
protobuf
publicsuffixlist==0.7.12
pyparsing
python-dateutil
regex
scipy
six
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor
tornado
tqdm
typing-extensions
Werkzeug
zipp
