absl-py
astor
backports.weakref==1.0rc1
bleach
certifi==2021.5.30
click
codetiming==1.3.0
coverage
cvxopt==1.2.7
cvxpy
cycler
Cython
dataclasses
ecos
future-fstrings
gast
grpcio
gurobipy==9.1.2
html5lib==0.9999999
importlib-metadata
joblib
kiwisolver
Markdown
matplotlib
nltk
numpy
osqp
protobuf==3.19.6
publicsuffixlist==0.7.12
pyparsing
python-dateutil
qdldl
regex
scipy
scs
six
tensorboard==1.8.0
tensorflow==1.8.0
termcolor
tornado
tqdm
typing-extensions
Werkzeug
zipp
